/* Style the links inside the sidenav */
#mySidenav a {
    position: relative; /* Position them relative to the browser window */
    left: -150px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 10px 15px 15px 10px; /* 15px padding */
    width: 300px; /* Set a specific width */
    max-width: 350px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#a {
    top: 2px;
    background-color: #555;
}

#b {
    top: 4px;
    background-color: OliveDrab ; /* Blue */
}

#c {
    top: 6px;
    background-color: MediumVioletRed ; /* Red */
}

#d {
    top: 8px;
    background-color: GoldenRod ; /* Light Black */
}

#e {
    top: 12px;
    background-color: DarkRed ; /* Light Black */
}

#f {
    top: 16px;
    background-color: DarkOrange; /* Light Black */
}
